doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/app/styles/app.css")
    title= title
  body
    h1= message

    //- Форма будет перехвачена за счет обработчика событий браузера и отправим данные через xhr или fetch
    form(name='postNewData')
      label Добавьте новые данные
      input(type="text" name="newData")
      button(type="submit" id="submit-2") Отправить
    
    - for(var i = 0; i < emails.length; i++)
      p #{emails[i]}

    .app

    script(src="/app/javascript/app.js")