// BUTTONS ==================================
.btn {
    display: inline-block;
    position: relative;
    &:before,
    &:after {
        position: absolute;
        left: 0;
        content: '';
        height: 3px;
        width: 100%;
    }
    &:before {
        top: 0;
        background-color: #c3a774;
    }
    &:after {
        bottom: 0;
        background-color: #8f6630;
    }

    // .btn__body
    &__body {
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 3px;
            height: 100%;
            background-image: linear-gradient(to top, #8f6630, #c3a774);
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }

        span {
            min-height: 50px;
            color: #ffff;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
            letter-spacing: 1.5px;

            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0px 50px;

            position: relative;
            &:after {
                content: '';
                height: 100%;
                opacity: 0.3;
                transition: all 0.8s ease 0s;
                background-image: linear-gradient(to top, #bb9c66 20%, rgba(59, 33, 209, 0) 100%);
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }

    @media (min-width: 992px) {
        &:hover {
            .btn__body span {
                &:after {
                    opacity: 0.6;
                }
            }
        }
    }

    &._fw {
        width: 100%;
    }
}
// BUTTONS =================================/
