.header {
    background-color: #1c242a;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        height: 75px;
    }

    &__logo {
    }

    &__menu {
    }

    &__actions {
    }
}

.menu {
    // ! зададим немного другим способом padding-left: 30px;
    // ! теперь эти 30 пикселей будут в процентах и будут сужаться при сужении экрана, для большей адаптивности и губкости
    padding: 0px 0px 0px 30px/950px * 100%;

    // * позволили меню увеличиваться
    flex: 1 1 auto;
    &__icon {
    }

    &__body {
    }

    &__list {
        display: flex;
        justify-content: center;

        li {
            margin: 0px 15px;
        }
    }

    &__link {
        font-family: 'Conv_pfdintextcondpro-regular';
        text-transform: uppercase;
        letter-spacing: 1.4px;
        color: #fff;

        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//Burger ===============================================
.icon-menu {
    display: none;
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span {
        // @include anim(0.3s, 0s);

        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;

        &:first-child {
            top: 0px;
        }
        &:last-child {
            top: auto;
            bottom: 0px;
        }
    }

    &._active {
        span {
            // @include scale(0);

            &:first-child {
                // @include rotate(-45deg);

                top: calc(50% - 1px);
            }
            &:last-child {
                // @include rotate(45deg);

                bottom: calc(50% - 1px);
            }
        }
    }
}
// /Burger =======================================/

.actions-header {
    display: flex;
    align-items: center;

    &__region {
        // ! @extend позволяет подключить все стили из определенного класса!!!!
        @extend .menu__link;

        padding: 0px 0px 0px 30px;
        line-height: 18px;
        background: url('../img/icons/globe.svg') left no-repeat;
    }

    &__user {
        // внешний отступ от элемента отступим, а не от блока по левой стороне
        margin: 0px 0px 0px 30px;
    }
}

.user-header {
    &__icon {
        // ! чтобы появлялась рука при наведении
        cursor: pointer;
    }

    &__menu {
        top: 78px;
        right: 0;
        // ! укажем наше позицианирование меню в отношении нашего класса  .header__contener и уже ему зададим position: relative
        position: absolute;
        background-color: #1c242a;
        padding: 20px;
        li {
            margin: 0px 0px 8px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
    }

    &__link {
        color: #fff;
        padding: 0px 0px 0px 30px;
        display: inline-block;
        line-height: 18px;

        &_1 {
            background: url(../img/icons/globe.png) 1px center no-repeat;
        }

        &_2 {
            background: url(../img/icons/3-layers.png) left center no-repeat;
        }

        &_3 {
            background: url(../img/icons/palm.svg) 4px center no-repeat;
        }

        &_4 {
            background: url(../img/icons/hammer.svg) left center no-repeat;
        }

        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
