@import 'mixins.scss';

// ? подключим как основной шрифт и добавим вконце &subset=cyrillic-ext указав, что это кирилический шрифт
@import url('https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700&subset=cyrillic-ext');

// ? импортируем скаченные и одключенные шрифты разных форматов
@import 'fonts';

// Иконочные шрифты ====================================================
// @import 'icons.scss'
// /Иконочные шрифты ==================================================/

// Шрифты по Дефолту ===================================================
// ? Запишим в переменную имя основного шрифта
$fontfamily: 'PT Sans';
// /Шрифты по Дефолту =================================================/

// Переменные ==========================================================
$minwidth: 320px;

// * Общая ширина контейнера с контентом для всего ресурса
$mw: 970;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// /Переменные =========================================================/

/*Обнуление общие параметры*/ // ========================================
@import 'null.scss';
body {
    color: #000;
    font-size: 14px;

    // ! заблокируем скрол основного контента при присвоении класса _lock
    &._lock {
        overflow: hidden;
        @media (max-width: $md3+px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}
/*-------------------- Обнуление*/ // ====================================/

// Оболочка ===============================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.loaded {
    }
}
// /Оболочка =============================================================/

// Основная сетка =========================================================
._container {
    max-width: $mw + px;
    margin: 0 auto;
    padding: 0 10px;

    // @media (max-width: $md1+px) {
    //     max-width: 970px;
    // }

    // @media (max-width: $md2+px) {
    //     max-width: 750px;
    // }

    // @media (max-width: $md3+px) {
    //     max-width: none;
    //     padding: 0 10px;
    // }
}
// /Основная сетка =======================================================/

// Подключение файлов UI Стилей, Форм и готовых классов ===================
@import 'forms.scss';
@import 'ui.scss';
// /Подключение файлов UI Стилей, Форм и готовых классов =================/

// Подключение файлов стилей страниц и элементов ==========================
// @import 'datepicker.scss';
// @import 'lightgallery.scss';
// @import 'pagging.scss';
// @import 'icons.scss';
@import 'popup.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
// /Подключение файлов стилей страниц и элементов =========================/

// Основной блок ===========================================================
.page {
    flex: 1 1 auto;
}
// =========================================================

// /Основной блок ==========================================================/
