// <ОСНОВНОЙ БЛОК> ========================================================================================
.title {
    // .title__item
    &__item {
        font-family: 'Conv_ceremonious_one';
        color: #bb9c66;
        font-size: 40px;
        margin: 0px 0px 20px/40px * 1em 0px;
    }

    // .title__main
    &__main {
        font-family: 'Conv_pfdintextcondpro-medium';
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 5.25px;
        line-height: calc(40 / 35);

        // класс модификатор шрифта
        &_regular {
            font-family: 'Conv_pfdintextcondpro-regular';
        }

        &_w {
            color: #fff;
        }

        @media (max-width: $md3+px) {
            font-size: 25px;
        }
    }
}
// </ОСНОВНОЙ БЛОК> ========================================================================================
