extends ../layout/main

block variables
  - var title = "Webpack + pug №2";
  - var description = "description for Webpack + pug №2";
  - var pageClass = "index-page №2";

block content
  .content-container
    h1 index page №2
    h2 I am super man
